<% include ./partials/boilerplate %>
<header>
  <div class="logo"></div>
    <nav>Home</nav>
    <nav>About</nav>
    <nav>ToDo</nav>
</header>
<main>
  <button class="add">ADD NEW TO-DO</button>


</main>
<% include ./partials/end %>
